<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- main content -->
    <div class="container-fluid main_content">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_content_right align-items-center">
                        <figure>
                            <img src="images/face.png" class="img-fluid" alt="Sumit Kumar">
                        </figure>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_content_left">
                        <p>Welcome to the weather app</p>
                        <h1>I'm a <span class="span_clr">MERN Stack Developer</span> and programmer</h1>
                        <a href="https://www.linkedin.com/in/sumit-kumar-064474193/" target="_blank"><button>About ME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>